#topBox {
    margin: 0 auto;
    padding: 20px 50px;
    background-color: #00000090;
    width: 80%;
    height: 8px;
    border-radius: 10px;
    float: right;
}

#topBox .admin{
    float:right
}

#topBox .admin b{
    font-size: 18px;
}

#topBox .admin button{
    background-color: #00000000;
    border-style: none;
}

#topBox .admin a{
    color: #00000090;
    text-decoration: none;
}


#leftBox {
    margin: 0 auto;
    background-color: #00000090;
    width: 200px;
    height: 710px;
    border-radius: 10px;
    float: left;
}

#leftBox .title {
    float:inline-start;
}

#leftBox .leftBar{
    padding: 30px;
}

#leftBox .leftBar a{
    font-size: 25px;
    text-align: right;
    float: center;
    color: #00000090;
    text-decoration: none;
}

#bigBox{
    border: red solid 1px;
    width: 1300px;
    height: 650px;
    float: right;
}

#bigBox .table table{
    border: solid red 1px;
    font-size: 25px;
    border-spacing: 90px 20px;
}


#bigBox .table table tr th{
    padding: 10px;
    border: solid red 1px;
    text-align: center;
}

#bigBox .table table tr td{
    font-size: 18px;
    text-align: center;
}
